<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Blog</title>
    <link rel="stylesheet" href="static/css/foundation.css" />
    <script src="static/js/vendor/modernizr.js"></script>
  </head>
  <body>
<form action="" method="post">
Title
<input type="text" name="title"/> 
Body
<textarea type="text" name="body"></textarea>


<button class="button postfix"  type="submit">Add</button>
<script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
